**

!deploy/
!deploy/rehealth/
!deploy/rehealth/images/
!deploy/rehealth/images/**
!deploy/rehealth/scripts/
!deploy/rehealth/scripts/**
!deploy/rehealth/edge/
!deploy/rehealth/edge/**
!deploy/rehealth/admin-web/
!deploy/rehealth/admin-web/**

!device-service/
!device-service/target/
!device-service/target/device-service.jar

!jeecg-boot/
!jeecg-boot/jeecg-server-cloud/
!jeecg-boot/jeecg-server-cloud/jeecg-cloud-gateway/
!jeecg-boot/jeecg-server-cloud/jeecg-cloud-gateway/target/
!jeecg-boot/jeecg-server-cloud/jeecg-cloud-gateway/target/jeecg-cloud-gateway-3.9.2.jar
!jeecg-boot/jeecg-server-cloud/jeecg-system-cloud-start/
!jeecg-boot/jeecg-server-cloud/jeecg-system-cloud-start/target/
!jeecg-boot/jeecg-server-cloud/jeecg-system-cloud-start/target/jeecg-system-cloud-start-3.9.2.jar

!jeecgboot-vue3/
!jeecgboot-vue3/dist/
!jeecgboot-vue3/dist/**
